<section class="intro">
      <div class="left">
        <div>
          <span>Juke 95</span>
          <h1>The Place To Chill!</h1>
          <p>The ideal place to sing, dart and drink. The perfect haven to unwind. </p>
          <a href="https://wego.here.com/directions/mix//JUKE-95-Darts-Karaoke,-28-Tai-Seng-Street,-Sakae-Building-01-04-:e-eyJuYW1lIjoiSlVLRSA5NSBEYXJ0cyAmIEthcmFva2UiLCJhZGRyZXNzIjoiMjggVGFpIFNlbmcgU3RyZWV0LCBTYWthZSBCdWlsZGluZyAjMDEtMDQgUyA1MzQxMDYsIFNpbmdhcG9yZSIsImxhdGl0dWRlIjoxLjMzNDg5LCJsb25naXR1ZGUiOjEwMy44ODkzMiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxMzgyNDc1ODM0MzA3MDJ9?map=1.33489,103.88932,15,normal&fb_locale=en_US" target="_blank">Address: 28 Tai Seng Street, Sakae Building #01-04 Singapore 534106</a>
        </div>
      </div>

      <div class="slider">
        <ul>
          <li style="background-image:url(https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZQ1plRThLclRvQzQ)">
            <div class="center-y">
              <h3>Hi, I'm Judy</h3>
              <a href="https://www.facebook.com/juke95/" target="_blank">Visit Us</a>	
            </div>
          </li>
          <li style="background-image:url(https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZalhJX0lldGxGT1k)">
            <div class="center-y">
              <h3>Our Promo!</h3>
              <a href="tel: 88213155">Call Us</a>	
            </div>
          </li>
          <li style="background-image:url(https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZUHBmT1ZFbW1oa2M)">
            <div class="center-y">
              <h3>We are spacious!</h3>
              <a href="mailto:juke95ktv@gmail.com">email us</a>	
            </div>
          </li>
        </ul>

        <ul>
          <nav>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </nav>
        </ul>
      </div>
	</section>
	<style>
	  @import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: calc(5px + 0.4vw);
}
body {
  font-family: 'Playfair Display', serif;
}
a {
	text-decoration: none;
}
.intro {
	position: relative;
	width: 100%;
	height: 100vh;
}
.left {
	float: left;
	height: 100%;
	width: 60%;
	padding: 3rem 3rem 3rem 5rem;
	display: table;
}
.left > div {
	display: table-cell;
	vertical-align: middle;
}
span {
  color: #E8CA2B;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 4rem;
}
h1 {
	font-size: 4rem;
	margin-bottom: 3rem;
}
h1 + p {
  color: #949494;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
p + a {
  font-size: 1.6rem;
  color: #000;
}
.slider {
	float: right;
	position: relative;
	width: 40%;
	height: 100%;
}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}
h3 {
	font-size: 5rem;
	font-style: italic;
	margin-top: 4rem;
}
h3 + a {
	font-size: 1.6rem;
	display: inline-block;
	color: #fff;
	margin-top: 1rem;
}
h3, h3 + a {
	opacity: 0;
	transition: opacity .7s 0s, transform .5s .2s;
	transform: translate3d(0, 50%, 0);
}
li.current h3, li.current h3 + a {
	opacity: 1;
	transition-delay: 1s;
	transform: translate3d(0, 0, 0);
}
li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
nav a {
	display: inline-block;
	border-radius: 50%;
	width: 1.2rem;
	height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
	background: #fff;
	margin: 0 1rem;
  transition: transform .3s;
}
a.current_dot {
	transform: scale(1.4);
}
@media screen and (max-width: 700px) {
	.left {
		width: 100%;
		height: 30%;
	}
	.slider {
		width: 100%;
		height: 70%;
	}
}
	  
	</style>
	
	<script>
	  $(function() {
	var slider = $(".slider"),
		slides = slider.find('li'),
		nav = slider.find('nav');

	slides.eq(0).addClass('current');

	nav.children('a').eq(0).addClass('current_dot');

	nav.on('click', 'a', function(event) {
		event.preventDefault();
		$(this).addClass('current_dot').siblings().removeClass('current_dot');
		slides.eq($(this).index()).addClass('current').removeClass('prev').siblings().removeClass('current');
		slides.eq($(this).index()).prevAll().addClass('prev');
		slides.eq($(this).index()).nextAll().removeClass('prev');
	});
});
	  
	</script>