<div class="diy-slideshow">
	<figure class="show">
		<img src="https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZb1ktdktJUGEwLTg" width="100%" height="auto" /><figcaption>Address: 28 Tai Seng Street, Sakae Building #01-04 S 534106 - <a href="https://wego.here.com/directions/mix//JUKE-95-Darts-Karaoke,-28-Tai-Seng-Street,-Sakae-Building-01-04-S-534106,-534106-,-Singapore:e-eyJuYW1lIjoiSlVLRSA5NSBEYXJ0cyAmIEthcmFva2UiLCJhZGRyZXNzIjoiMjggVGFpIFNlbmcgU3RyZWV0LCBTYWthZSBCdWlsZGluZyAjMDEtMDQgUyA1MzQxMDYsIFNpbmdhcG9yZSIsImxhdGl0dWRlIjoxLjMzNDg5LCJsb25naXR1ZGUiOjEwMy44ODkzMiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxMzgyNDc1ODM0MzA3MDJ9?map=1.33489,103.88932,15,normal&fb_locale=en_US" target="_blank"> Check us out!</a></figcaption> 
	</figure>
  <figure>
    <img src="https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZQ1plRThLclRvQzQ" width="100%" /><figcaption>Hi, I'm Judy. <a href="https://www.facebook.com/juke95/" target="_blank">Visit us on Facebook</a>.</figcaption> 
	</figure>
	<figure>
		<img src="https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZUHBmT1ZFbW1oa2M" width="100%" /><figcaption>We are spacious!<a href="tel:88213155">Call us!</a>.</figcaption> 
	</figure>
  <figure>
		<img src="https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZalhJX0lldGxGT1k" width="100%" /><figcaption>Fantastic Promo! <a href="mailto:juke95ktv@gmail.com" target="_blank">Email us!</a>.</figcaption> 
	</figure>
  <figure>
<img src="https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZdHo3aFJXTWxES1k" width="100%" /><figcaption>Our Official Opening on <a href="https://www.facebook.com/juke95/">10/10/2017</a>.</figcaption> 
	</figure>
  <figure>
		<img src="https://drive.google.com/uc?export=view&id=0B9dIf6nlHHZZQ2ZEWTRta2JfUzg" width="100%" /><figcaption>Our Supporters! <a href="https://www.facebook.com/juke95/">Thank You!!!</a>.</figcaption> 
	</figure>
  <span class="prev">&laquo;</span>
  <span class="next">&raquo;</span>
</div>  
<!--<p>An example of a pretty basic diy slideshow. Also see the no-jQuery version here: https://codepen.io/leemark/pen/DLgbr</p>-->

<style>
	body {
  margin: 0; 
  padding: 0;
  background: #111;
  height: 100%;
}
.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}
figcaption{
  position: absolute;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 2em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
p{
  margin: 10px 20px;
  color: #fff;
}
a{color:#fff;}
	
	
</style>

<script>
	var counter = 0, // to keep track of current slide
    $items = $('.diy-slideshow figure'), // a collection of all of the slides, caching for performance
    numItems = $items.length; // total number of slides

// this function is what cycles the slides, showing the next or previous slide and hiding all the others
var showCurrent = function(){
    var itemToShow = Math.abs(counter%numItems);// uses remainder (aka modulo) operator to get the actual index of the element to show  
   
  $items.removeClass('show'); // remove .show from whichever element currently has it
  $items.eq(itemToShow).addClass('show');    
};

// add click events to prev & next buttons 
$('.next').on('click', function(){
    counter++;
    showCurrent(); 
});
$('.prev').on('click', function(){
    counter--;
    showCurrent(); 
});

// if touch events are supported then add swipe interactions using TouchSwipe https://github.com/mattbryson/TouchSwipe-Jquery-Plugin
if('ontouchstart' in window){
  $('.diy-slideshow').swipe({
    swipeLeft:function() {
      counter++;
      showCurrent(); 
    },
    swipeRight:function() {
      counter--;
      showCurrent(); 
    }
  });
}
	
</script>