<div class="jumbotron text-center">
  <h1>Welcome to Juke 95!</h1>
  <p>A great place to chill,sing and dart!!!</p>
  <i class="glyphicon glyphicon-pushpin"></i><p>Address:</p>
  
  <p><a href="https://wego.here.com/directions/mix//JUKE-95-Darts-Karaoke,-28-Tai-Seng-Street,-Sakae-Building-01-04-S-534106,-534106-,-Singapore:e-eyJuYW1lIjoiSlVLRSA5NSBEYXJ0cyAmIEthcmFva2UiLCJhZGRyZXNzIjoiMjggVGFpIFNlbmcgU3RyZWV0LCBTYWthZSBCdWlsZGluZyAjMDEtMDQgUyA1MzQxMDYsIFNpbmdhcG9yZSIsImxhdGl0dWRlIjoxLjMzNDg5LCJsb25naXR1ZGUiOjEwMy44ODkzMiwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxMzgyNDc1ODM0MzA3MDJ9?map=1.33489,103.88932,15,normal&fb_locale=en_US" target="_blank">28 Tai Seng Street, Sakae Building #01-04 S 534106 Singapore 534106</a></p>
  <p><a class="btn btn-primary btn-lg" href="https://www.facebook.com/juke95/" target="_blank" role="button">Visit our Facebook Page for updates and offers!</a></p>
</div>
<div class="well">
    <p class="juke">We were officially opened on 10th October 2017.</p>
</div>